name: Convert HTML to Markdown

on:
  push:
    branches:
      - main

jobs:
  convert:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Install pandoc
      run: |
        sudo apt-get update
        sudo apt-get install -y pandoc

    - name: Convert index.html to README.md
      run: |
        pandoc -f html -t markdown -o README.md index.html

    - name: Commit and push changes
      env:
        GITHUB_TOKEN: ${{ secrets.PAT_TOKEN }}
      run: |
        git config --global user.name 'mark65537'
        git config --global user.email 'mark65537@users.noreply.github.com'
        git checkout -b markdown
        git add README.md
        git commit -m 'Convert index.html to README.md'
        git push --force --set-upstream origin markdown
